section.works
  .works__title Мои работы
  .works__content
    .slider
      .slider__display
        img.slider__display-pic
        .slider__display-thumbs
          ul.slider-thumbs
            li.slider-thumbs__item
              a.slider-thumbs__link
                img.slider-thumbs__pic
        .slider__buttons
          a.directions-btn.directions-btn--next
          a.directions-btn.directions-btn--prev

      .slider__info
        .slider__tags
          ul.tags
            li.tags__item HTML
            li.tags__item CSS
            li.tags__item JS
        .slider__info-text
          h3.slider__info-title
          .slider__info-desc
        .slider__info-btns
          a.iconed-link Посмотерть сайт